devpack # warg, draugr, apppath
neodroid
numpy
scipy
scikit-image
tqdm
Pillow
matplotlib
pip
h5py
torch
torchvision
pycocotools
albumentations
opencv-python
seaborn
munin
PyWavelets
scikit-learn>=1.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability